.SubmitForm {
    align-content:center;
    margin-left: 30vh;
}
.labetext {
   
    margin: auto;
}
.errorMessage {
    margin-top: 20%;
    margin: auto;
    text-align: center;
    color: red;
    font-size: 20px;
}